<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Student Enrollment Form </title>
        <link rel="stylesheet" th:href="@{/css/styles.css}"/>
         <link rel="stylesheet" th:href="@{/css/custom.css}"/>
          <link rel="stylesheet" th:href="@{/css/main.css}"/>

    </head>
	<body>
	
		<div>
 	<h1>Student Enrollment Form</h1>
 	
	     <form action="#" th:action="@{/save}" th:object="${user}" method="post">
	     
	     <table>
	     <tr>
			<td width="10%">First Name :</td>
				
			<td width="90%" align="left">
			<input type="text" th:field="*{firstName}" />
			<label th:if="${#fields.hasErrors('firstName')}"  th:errors="*{firstName}"  th:class="'error'">Error in First Name</label></td>
								
		</tr>
		<tr>
			<td>Last Name : 	</td>
				
			<td><input type="text" th:field="*{lastName}" />
			<label th:if="${#fields.hasErrors('lastName')}"  th:errors="*{lastName}"  th:class="'error'">Error in Last Name</label>
			</td>
									
		</tr>
		
		<tr>
			<td> Email :	</td>
				
			<td>     <input type="text" th:field="*{email}" />
			<label th:if="${#fields.hasErrors('email')}"  th:errors="*{email}"  th:class="'error'">Error in Email address</label>
			</td>
									
		</tr>
		<tr>
			<td> Username :	</td>
				
			<td>     <input type="text" th:field="*{username}" />
			<label th:if="${#fields.hasErrors('username')}"  th:errors="*{username}"  th:class="'error'">Error in Email address</label>
			</td>
									
		</tr>
		
		<tr>
			<td> Password :	</td>
				
			<td>     <input type="password" th:field="*{password}" />
			<label th:if="${#fields.hasErrors('password')}"  th:errors="*{password}"  th:class="'error'">Error in Email address</label>
			</td>
									
		</tr>
		
		<tr>
		<td>	</td>
		<td >
	              <input type="submit" value="Add"/> 
	              
	            </td>
	        </tr>
	        
		</table>
		
		
	    
	     </form>
	     </div>
	</body>
</html>